@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  /* Brand Colors */
  --faded-copper: #a17945;
  --black: #030307;
  --dark-khaki: #5b5433;
  --goldenrod: #d5a20a;
  --rich-mahogany: #450b06;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  color: var(--black);
}

/* Custom Scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--faded-copper);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--rich-mahogany);
}
